
{% extends 'base.html' %}
    {% block content %}
        <div class="appointment-entry">
            <h1>
                Информация о диагнозе
            </h1>
            <h2>
                Пациент: {{ diagnosis.pet }}
            </h2>
            <div>
                Ветеринар: {{ diagnosis.veterinarian }}
            </div>
            <div>
                Описание: {{ diagnosis.description }}
            </p>
            <a href="{% url 'diagnosis_edit' diagnosis.pk %}">Редактировать дагноз</a>
        </div>
    {% endblock content %}