    {% extends 'base.html' %}
    {% block content %}
    <form class="search" method="get" action="">
        <input type="text" name="appointment-search" placeholder="Поиск...">
        <button type="submit">Поиск</button>
    </form>
        {%for diagnosis in object_list %}
            <div class="list">
                <h2>
                    <a href=" {% url 'diagnosis_detail' diagnosis.pk %}">
                        <div>
                            Питомец: {{ diagnosis.pet }}
                        </div>
                        <div>
                            Болезнь: {{ diagnosis.disease }}
                        </div>
                        <div>
                            Врач: {{ diagnosis.veterinarian}}
                        </div>
                    </a>
                </h2>
                <div>
                     Создано: {{ diagnosis.createDate }}
                </div>
            </div>
        {% endfor %}
    {% endblock %}
