    {% extends 'base.html' %}
    {% block content %}
    <form class="search" method="get" action="">
        <input type="text" name="pet-search" placeholder="Поиск...">
        <button type="submit">Поиск</button>
    </form>
        {%for pet in object_list %}
            <div class="list">
                <h2>
                    <a href="{% url 'pet_detail' pet.pk %}">
                        {{ pet }}
                        {{ pet.species }}
                        {{ pet.breed}}
                    </a>
                </h2>
                <div>
                    {{ pet.owner }} {{ pet.birth_date }}
                </div>
                <blockquote>
                    <a href="{% url 'diagnosis_list' pet_id=pet.id %}">Диагнозы</a>
                </blockquote>
         {% if user.is_staff %}
                <blockquote>
                    <a href="{% url 'pet_edit' pet.pk %}">Редактировать запись</a>
                    <a href="{% url 'pet_delete' pet.pk %}">Удалить запись</a>
                </blockquote>
         {% endif %}

        {% endfor %}
                <div class="container">
                    <a class="btn" href="{% url 'pet_new' %}">Добавить питомца</a>
                </div>
            </div>

    {% endblock %}
