
{% extends 'base.html' %}
    {% block content %}
        <div class="appointment-entry">
            <h1>
                Информация о пациенте
            </h1>
            <h2>
                {{ pet }} {{ pet.birth_date }}
            </h2>
            <div>
                {{ pet.disease }}
            </div>
            <div>
                {{ pet.owner }}
            </div>
            <a class="btn" href="{% url 'diagnosis_list' pet_id=pet.id %}">Диагнозы</a>
            <a class="btn" href="{% url 'pet_edit' pet.pk %}">Изменить питомца</a>
        </div>
    {% endblock content %}