    {% extends 'base.html' %}
    {% block content %}
    <h1>
        Список питомцев
    </h1>
    <form class="search" method="get" action="">
        <input type="text" name="pet-search" placeholder="Поиск...">
        <button type="submit">Поиск</button>
    </form>
        {%for pet in object_list %}
            <div class="list">
                <h2>
                    <a href="{% url 'pet_detail' pet.pk %}">
                        <div>Кличка: {{ pet }}</div>
                        <div>Вид: {{ pet.species }}</div>
                        <div>Порода: {{ pet.breed}}</div>
                    </a>
                </h2>
                <div>
                    <div>Дата рождения: {{ pet.birth_date }}</div>
                </div>
                <blockquote>
                    <a class="btn" href="{% url 'diagnosis_list' pet_id=pet.id %}">Диагнозы</a>
                    <a class="btn" href="{% url 'pet_edit' pet.pk %}">Изменить питомца</a>
                </blockquote>
            </div>
            {% endfor %}
    {% endblock %}
