
{% extends 'base.html' %}
    {% block content %}
        <div class="appointment-entry">
            <h1>
                Информация о записи
            </h1>
            <h2>
                {{ appointment.owner }}'s {{ appointment.pet }} {{ appointment.date }}
            </h2>
            <div>
                {{ appointment.veterinarian }}
            </div>
            <div>
                {{ appointment.notes }}
            </div>
            <a href="{% url 'appointment_edit' appointment.pk %}">Редактировать запись</a>
            <a href="{% url 'appointment_delete' appointment.pk %}">Удалить запись</a>
        </div>
    {% endblock content %}