    {% extends 'base.html' %}
    {% block content %}
    <form class="search" method="get" action="">
        <input type="text" name="appointment-search" placeholder="Поиск...">
        <button type="submit">Поиск</button>
    </form>
        {%for appointment in object_list %}
            <div class="list">

                    <h2>
                        <a href=" {% url 'appointment_detail' appointment.pk %}">
                            {% if appointment.pet %}
                                <div>
                                    Питомец: {{ appointment.pet }}
                                </div>
                            {% endif %}
                            <div>
                                Дата приёма:  {{ appointment.date }} {{ appointment.time }}
                            </div>
                            <div>
                                Врач: {{ appointment.veterinarian}}
                            </div>
                        </a>
                    </h2>
                {% if appointment.owner %}
                    <div>
                        Владелец: {{ appointment.owner }}
                    </div>
                {% endif %}
                <div>
                    Услуги:
                        <ul>
                            {% for service in appointment.services.all %}
                                <li>{{ service.name }}</li>
                            {% endfor %}
                      </ul>
                </div>
                <div>
                    Цена услуг: {{ appointment.total_price }} руб.
                </div>
                <div>
                     Создано: {{ appointment.create_date }}
                </div>
                <div>
                    {% if user.is_staff %}
                            <a class="btn" href="{% url 'conclusion_new' appointment_id=appointment.pk %}">Обработать заявку</a>
                    {% else %}
                        <a class="btn" href="{% url 'appointment_edit' appointment.pk %}">Редактировать запись</a>
                    {% endif %}
                </div>

            </div>

        {% endfor %}

    {% endblock %}
