
{% extends 'base.html' %}
    {% block content %}
        <div class="appointment-entry">
            <h1>
                Информация о записи
            </h1>
            <h2>
                Питомец: {{ appointment.pet }}
            </h2>
            <h2>
                Время записи: {{ appointment.date }}
            </h2>
            <h2>
                 Ветеринар: {{ appointment.veterinarian }}
            </h2>
            <div>
                Владелец:{{ appointment.owner }}
            </div>
            <div>
                Цена услуг: {{ appointment.total_price }} руб.
            </div>
            <div>
                {{ appointment.notes }}
            </div>
            <a href="{% url 'appointment_edit' appointment.pk %}">Редактировать запись</a>
        </div>
    {% endblock content %}
