    {% extends 'base.html' %}
    {% block content %}
    <form class="search" method="get" action="">
        <input type="text" name="appointment-search" placeholder="Поиск...">
        <button type="submit">Поиск</button>
    </form>
        {%for appointment in object_list %}
            <div class="list">
                <h2>
                    <a href=" {% url 'appointment_detail' appointment.pk %}">
                        <div>
                            Питомец: {{ appointment.pet }}
                        </div>
                        <div>
                            Дата приёма: {{ appointment.date }}
                        </div>
                        <div>
                            Врач: {{ appointment.veterinarian}}
                        </div>
                    </a>
                </h2>
                <div>
                    Владелец: {{ appointment.owner }}
                </div>
                <div>
                    Услуги:
                        <ul>
                            {% for service in appointment.services.all %}
                                <li>{{ service.name }}</li>
                            {% endfor %}
                      </ul>
                </div>
                <div>
                    Цена услуг: {{ appointment.total_price }} руб.
                </div>
                <div>
                     Создано: {{ appointment.createDate }}
                </div>
                <blockquote>
                    {% if user.is_staff %}
                        {% if appointment.has_diagnosis_service %}
                            <a class="btn" href="{% url 'diagnosis_new' appointment_id=appointment.pk %}">Поставить диагноз и обработать</a>
                        {% else %}
                            <a class="btn" href="{% url 'appointment_process' appointment.id %}">Обработать</a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'appointment_edit' appointment.pk %}">Редактировать запись</a>
                    {% endif %}
                </blockquote>

            </div>

        {% endfor %}

    {% endblock %}
