    {% extends 'base.html' %}
    {% block content %}
        {%for conclusion in object_list %}
            <div class="list">
                <h2>
                    <a href=" {% url 'conclusion_detail' conclusion.pk %}">
                        <div>
                            Питомец: {{ conclusion.pet }}
                        </div>
                        <div>
                            Врач: {{ conclusion.veterinarian}}
                        </div>
                    </a>
                </h2>
                <div>
                     Создано: {{ conclusion.create_date }}
                </div>
            </div>
        {% endfor %}
    {% endblock %}
