@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Russo+One&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    background: rgb(235, 255, 235);
    color: #4e664f;
}

h1, h2, h3 {
    color: #45a049;
}

h1 {
    text-align: center;
    font-family: 'Russo One', sans-serif;
}

.list, .appointment-entry, p, form ul li {
    padding: 10px 20px;
}

.list:nth-child(odd) {
    background: #a1cba185;
}

.list > p, p {
    color: #4e664f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
}

a {
    font-weight: 500;
    color: rgb(70, 70, 70);
    text-decoration: none;
}

header, footer {
    text-align: center;
    padding: 1em 0;
}

footer {
    background-color: #333;
    color: white;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

nav {
    background: #a1cba1;
    color: white;
    padding: 10px 0;
    text-align: left;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 15px;
}

label {
    font-family: Arial, sans-serif;
    display: block;
    margin: 10px;
}

input[type="text"], input[type="email"], input[type="date"], input[type="password"] {
    width: 60%;
    padding: 10px;
    border: 1px solid #45a049;
    border-radius: 10px;
    margin: 10px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="date"]:focus, input[type="password"]:focus {
    outline: 2px solid #4CAF50;
    box-shadow: 0 0 25px 1px #4CAF50;
}

input[type="submit"], .btn, button {
    width: 20%;
    padding: 10px;
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px auto;
    box-shadow: 0 0 10px 1px #4CAF50;
    text-align: center;
}

input[type="submit"]:hover, .btn:hover, button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Отзывчивый дизайн */
@media screen and (max-width: 600px) {
    .container, nav ul, form {
        width: 100%;
    }

    nav ul li {
        margin: 5px 0;
    }

    input[type="text"], input[type="email"], input[type="date"], input[type="password"], input[type="submit"], .btn, button {
        width: 100%;
    }
}
