
    {% extends 'base.html' %}

    {% block title %}Login{% endblock %}

    {% block content %}
    <div class="container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Login">
            <script>
              $(function () {
                $("#id_birth_date").datetimepicker({
                  format: 'Y-m-d H:i',
                });
              });
            </script>
        </form>
        <p>
            <a href="{% url 'password_reset' %}">Забыли пароль?</a>
        </p>
    </div>
    {% endblock content%}