
{% extends 'base.html' %}
    {% block content %}
        <div class="appointment-entry">
            <h1>
                Личный кабинет
            </h1>
            <h2>
                {{ customuser.last_name }} "{{ customuser.username }}" {{ customuser.first_name }} {{ customuser.father_name }}
            </h2>
            <h2>
                {{ customuser.birth_date }}
            </h2>
            <h3>
                {{ customuser.phone }}
            </h3>
            {% if not user.is_staff %}
                <a class="btn" href="{% url 'user_edit' customuser.pk %}">Изменить инфорацию</a>
            {% endif %}

        </div>

    {% endblock content %}