
{% extends 'base.html' %}
    {% block content %}
        <div class="appointment-entry">
            <h2>
                {{ appointment.pet }} {{ appointment.date }}
            </h2>
            <p>
                {{ appointment.veterinarian }}
            </p>
            <p>
                {{ appointment.notes }}
            </p>
            <a href="{% url 'appointment_edit' appointment.pk %}">Редактировать запись</a>
            <a href="{% url 'appointment_delete' appointment.pk %}">Удалить запись</a>
        </div>
    {% endblock content %}