<!doctype html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VetKod</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">




    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

</head>
<body>
    <header>
        <nav>

            <ul>
                <li>
                    <a href="{% url 'home' %}">
                        <img class="logo" src="{% static 'image/logo.svg' %}">
                    </a>
                </li>
    {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'user_detail' user.pk %}">{{ user }}</a>
                </li>
         {% if user.is_staff %}
                <li>
                    <a href="{% url 'pet_new' %}">Добавить пациента</a>
                </li>
                <li>
                    <a href="{% url 'vet_appointment_list' %}">Ваши приёмы</a>
                </li>
         {% else %}
                <li>
                    <a href="{% url 'users_pet_list' %}">Ваши питомцы</a>
                </li>
                <li>
                    <a href="{% url 'users_appointment_list' %}">Ваши заявки</a>
                </li>
                <li>
                    <a  href="{% url 'appointment_new' %}">Новая заявка</a>
                </li>
         {% endif %}
                <li>
                    <a href="{% url 'logout' %}">Выход</a>
                </li>
    {% else %}
                <li>
                    <a  href="{% url 'login' %}">Вход</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}">Регистрация</a>
                </li>
    {% endif %}
            </ul>
        </nav>
    </header>
        {% block content %}
        {% endblock content %}

</body>
</html>