{% extends 'base.html' %}

{% block title %}Home{% endblock %}

    {% block content %}
    {% load static %}
    <nav>
      <ul>
        <li><a href="#home">Главная</a></li>
        <li><a href="#menu">Меню</a></li>
        <li><a href="#about">О нас</a></li>
        <li><a href="#contact">Контакты</a></li>
      </ul>
    </nav>

  <section id="home">
    <div class="container">
      <h1>Добро пожаловать в кальянную<br>"А ты дунул"</h1>
      <p>Наши мастера создадут незабываемую атмосферу для вашего отдыха.</p>
      <a href="#menu" class="btn">Узнать больше</a>
    </div>
  </section>

  <section id="menu">
    <div class="container">
      <h2>Меню</h2>
      <div class="menu-items">
        <div class="menu-item">
          <img src="{% static 'image/logo.svg' %}" alt="Shisha">
          <h3>Классические вкусы</h3>
          <p>Наши кальяны изготавливаются только из лучших сортов табака.</p>
        </div>
        <div class="menu-item">
          <img src="{% static 'image/logo.svg' %}" alt="Drinks">
          <h3>Напитки</h3>
          <p>Широкий выбор ароматных напитков для сопровождения вашего отдыха.</p>
        </div>
        <div class="menu-item">
          <img src="{% static 'image/logo.svg' %}" alt="Snacks">
          <h3>Закуски</h3>
          <p>Разнообразные закуски, которые подойдут к вашему кальянному опыту.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="about">
    <div class="container">
      <h2>О нас</h2>
      <p>Кальянная "А ты дунул" - идеальное место для отдыха в компании друзей или встреч с коллегами. Мы создаем
        атмосферу, в которой каждый может расслабиться и насладиться ароматным кальяном в уютной обстановке.</p>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <h2>Контакты</h2>
      <p>Приходите к нам по адресу: ул. Примерная, 123, г. Ваш город</p>
      <p>Телефон: 123-456-789</p>
    </div>
  </section>

  <footer>
    <div class="container">
      <p>А ты дунул &copy; 2023. Все права защищены.</p>
    </div>
  </footer>
        <a href="{% url 'appointment_list' %}">list</a>
    {% endblock content%}