{% extends 'base.html' %}

{% block title %}Home{% endblock %}

    {% block content %}
    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <p><a href="{% url 'logout' %}">logout</a></p>
    {% else %}
        <p>yr not logged</p>
        <a href="{% url 'login' %}">login</a>
        <a href="{% url 'signup' %}">signup</a>
    {% endif %}
        <h1 class="header1">Homepage</h1>
        {%for Appointment in object_list %}
            <div class="Appointments-list">
                <h2>
                    <a href=" {% url 'appointment_detail' Appointment.pk %}">
                        {{ Appointment.pet }}
                        {{ Appointment.date }}
                        {{ Appointment.veterinarian}}
                    </a>
                </h2>
                <p>
                    {{ Appointment.owner }}
                </p>
            </div>
        {% endfor %}
    {% endblock content%}